---
import Contactform from '@components/contactform.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';
import Address from '@components/ui/address.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='Contact'>
  <Container>
    <Sectionhead>
      <spanspan slot='title'>Contact</spanspan>
      <span slot='desc'>We are a here to help.</span>
    </Sectionhead>

    <div class='grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16'>
      <div>
        <h2 class='font-medium text-2xl text-gray-800'>Contact MarkingMate</h2>
        <p class='text-lg leading-relaxed text-slate-500 mt-3'>We are here to help you with any questions you may have. Reach out to us and we'll respond as soon as we can.</p>
        <ul class='mt-5 flex flex-col gap-6'>
          <Address />
        </ul>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
