---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";

const categories = await getCollection("categories");
categories.sort((a, b) => a.data.id - b.data.id);
---

<Layout title="Products">
  <Container class="max-w-4xl">
    <Sectionhead>
      <Fragment slot="title">Products</Fragment>
      <Fragment slot="desc">Our products</Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="gap-16 max-w-3xl mx-auto grid md:grid-cols-2 md:gap-10">
        {
          categories.map((category, index) => (
            <li>
              <a href={`/products/${category.slug}`}>
                <div class="group items-center border-gray-300 border-2 rounded-3xl p-8 hover:shadow-xl transition-all hover:border-black">
                  <Picture
                    src={category.data.image.src}
                    alt={category.data.image.alt || ""}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md object-contain aspect-square object-center bg-white"
                  />
                  <h2 class="text-3xl text-center group-hover:text-black  transition-all font-semibold text-gray-600 leading-snug tracking-tight mt-1 ">
                    {category.data.name}
                  </h2>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
