---
import Link from './ui/link.astro';
---

<div class='p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-xl flex flex-col items-center text-center bg-[#003153] bg-gradient-to-r from-[#003153] to-[#1B1B1B] text-white'>
  <h2 class='text-white text-4xl md:text-6xl tracking-tight'>Nâng cấp quy trình khắc laser của bạn ngay hôm nay!</h2>
  <p class='text-slate-400 mt-4 text-lg md:text-xl'>Trải nghiệm công nghệ khắc laser tiên tiến với MarkingMate. Chính xác hơn, nhanh hơn, mạnh mẽ hơn!</p>
  <div class='flex mt-5'>
    <Link
      href='#'
      style='inverted'
      >Liên hệ ngay</Link
    >
  </div>
</div>
