<footer class='w-full mb-6 mt-12'>
  <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
    <!--Grid-->
    <div class='grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-6 gap-8 py-10 max-w-xs mx-auto sm:max-w-2xl lg:max-w-full'>
      <div class='col-span-full lg:mb-10 max-lg:border-b max-lg:pb-8 lg:border-r border-gray-200 lg:col-span-2 lg:max-w-xs lg:mb-0'>
        <h2>Logo</h2>
        <ul class='grid gap-5'>
          <li class='flex items-center justify-center gap-2 lg:justify-start'>
            <i class='bx bx-envelope text-xl text-indigo-600'></i>
            support@pagedone.com
          </li>
          <li class='flex items-center justify-center gap-2 lg:justify-start'>
            <i class='bx bx-phone-call text-xl text-indigo-600'></i>
            +91 945 658 3256
          </li>
          <li class='flex items-center justify-center gap-2 lg:justify-start'>
            <i class='bx bx-map text-xl text-indigo-600'></i>
            61-A, Elm street, Gujarat, India.
          </li>
        </ul>
      </div>
      <!--End Col-->
      <div class='lg:mx-auto text-left'>
        <h4 class='text-lg text-gray-900 font-medium mb-7'>MarkingMate</h4>
        <ul class='text-sm transition-all duration-500'>
          <li class='mb-6'>
            <a
              href='javascript:;'
              class='text-gray-600 hover:text-gray-900'
              >Home</a
            >
          </li>
          <li class='mb-6'>
            <a
              href='javascript:;'
              class='text-gray-600 hover:text-gray-900'
              >About</a
            >
          </li>
          <li>
            <a
              href='javascript:;'
              class='text-gray-600 hover:text-gray-900'
              >Pricing</a
            >
          </li>
        </ul>
      </div>
      <!--End Col-->
      <div class='lg:mx-auto text-left'>
        <h4 class='text-lg text-gray-900 font-medium mb-7'>Products</h4>
        <ul class='text-sm transition-all duration-500'>
          <li class='mb-6'>
            <a
              href='javascript:;'
              class='text-gray-600 hover:text-gray-900'
              >MarkingMate</a
            >
          </li>
          <li class='mb-6'>
            <a
              href='javascript:;'
              class='text-gray-600 hover:text-gray-900'
              >MarkingMate 3D (MM3D)</a
            >
          </li>
        </ul>
      </div>
      <!--End Col-->
      <div class='lg:mx-auto text-left'>
        <h4 class='text-lg text-gray-900 font-medium mb-7'>Resources</h4>
        <ul class='text-sm transition-all duration-500'>
          <li class='mb-6'>
            <a
              href='javascript:;'
              class='text-gray-600 hover:text-gray-900'
              >FAQs</a
            >
          </li>
          <li class='mb-6'>
            <a
              href='javascript:;'
              class='text-gray-600 hover:text-gray-900'
              >Quick Start</a
            >
          </li>
          <li>
            <a
              href='javascript:;'
              class='text-gray-600 hover:text-gray-900'
              >Documentation</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!--Grid-->
    <hr class='my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8' />
    <div class='block text-sm text-gray-500 sm:text-center dark:text-gray-400'>
      © {new Date().getFullYear()}
      <a
        href='https://markingmate.vn'
        class='hover:underline'
        >MarkingMateVN</a
      >. All Rights Reserved.
    </div>
    <div class='block text-sm text-gray-300 sm:text-center dark:text-gray-400 mt-2'>
      Made by
      <a
        href='https://borinworks.com'
        class='hover:underline'
        >Borinworks</a
      >.
    </div>
  </div>
</footer>
