---
import { Icon } from 'astro-icon/components';

const slides = ['slide-1.png', 'slide-2.png', 'slide-3.png', 'slide-4.png', 'slide-5.png', 'slide-6.png'];
---

<div class='slider'>
  {
    slides.map((slide, index) => (
      <img
        class={index === 0 ? 'active' : ''}
        src={`/mm/slides/${slide}`}
        alt={`Slide ${index + 1}`}
      />
    ))
  }
  <nav class='slider-nav'>
    <ul>
      <li class='arrow'>
        <button class='previous'>
          <Icon name='bx:left-arrow-alt' />
        </button>
      </li>
      <li class='arrow'>
        <button class='next'>
          <Icon name='bx:right-arrow-alt' />
        </button>
      </li>
    </ul>
  </nav>
</div>

<style>
  .slider img {
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 3 / 2;
    max-width: 100%;
    display: none;
    box-shadow: 10px 10px 0 #0000000d;
    border: 3px solid #000;
  }

  .slider img.active {
    display: block;
    animation: fadeImg 0.8s;
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 20px 5px;
    color: $arrow;
    font-size: 2rem;
  }

  button:hover {
    color: #666;
  }

  button span {
    position: relative;
    display: inline-block;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }

  .previous:hover span {
    transform: translateX(-10px) scale(1.2);
  }

  .next:hover span {
    transform: translateX(10px) scale(1.2);
  }

  .slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .slider-nav li {
    display: flex;
    flex: 2;
    text-align: center;
  }

  .slider-nav .arrow {
    flex: 0 0 15%;
    justify-content: center;
  }

  .slider-nav a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
  }

  .slider-nav span {
    display: block;
    width: 100%;
  }

  @keyframes fadeImg {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
</style>

<script is:inline>
  function initSlider() {
    const items = document.querySelectorAll('.slider img');
    const itemCount = items.length;
    const nextItem = document.querySelector('.next');
    const previousItem = document.querySelector('.previous');
    let count = 0;

    function showNextItem() {
      items[count].classList.remove('active');

      count = count < itemCount - 1 ? count + 1 : 0;
      items[count].classList.add('active');
    }

    function showPreviousItem() {
      items[count].classList.remove('active');

      count = count > 0 ? count - 1 : itemCount - 1;
      items[count].classList.add('active');
    }

    function keyPress(e) {
      if (e.key === 'ArrowLeft') {
        showPreviousItem();
      } else if (e.key === 'ArrowRight') {
        showNextItem();
      }
    }

    nextItem?.addEventListener('click', showNextItem);
    previousItem?.addEventListener('click', showPreviousItem);
    document.addEventListener('keydown', keyPress);
  }
  initSlider();
</script>
