---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const cates = await getCollection("categories");
  return cates.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the slug from the params
const slug = Astro.params.slug;

// Get the products from the collection
const products = await getCollection("products", ({ data }) => {
  return data.category === slug;
});

// Get the category from the collection
const category = await getEntry("categories", slug);
---

<Layout title={category?.data.name || "Products"}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">{category?.data.name || "Products"}</Fragment>
      <Fragment slot="desc">{category?.data.description || ""}</Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="justify-center flex gap-10 flex-wrap">
        {
          products.map((product, index) => (
            <li>
              <a href={`/${product.slug}`}>
                <div class="group items-center border-gray-300 border-2 rounded-3xl p-6 hover:shadow-xl transition-all hover:border-black w-80">
                  <Picture
                    src={product.data.image.src}
                    alt={product.data.image.alt || ""}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md object-contain aspect-square object-center bg-white bg-blend-multiply"
                  />
                  <h2 class="text-xl text-center group-hover:text-black transition-all font-semibold text-gray-600 leading-snug tracking-tight mt-1">
                    {product.data.name}
                  </h2>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
